
.info-box {
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(158, 158, 158, 0.6) !important;
}
.info-box-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10% !important;
}
.map {
  background: url('../images/map.jpg') repeat-x;
  background-size: contain;
  height: 250px;
}
footer.page-footer {
  margin-top: 0px;
}
.about-company {
  border-right: 1px solid #fff;
}
.about-company p {
  padding-right: 40px;
  text-align: justify;
}
table.about-table > tbody > tr > td > span.right {
  font-weight: bold;
}
