#gallery
  .section__gallery__images
    .container.l12
      .row
        .col.l4.m4.s4.wow.fadeIn
          %img.materialboxed.responsive-img{src: "/images/fleet/auto05.webp", alt: 'Truck'}
        .col.l4.m4.s4.wow.fadeIn
          %img.materialboxed.responsive-img{src: "/images/fleet/auto002.webp", alt: 'Truck'}
        .col.l4.m4.s4.wow.fadeIn
          %img.materialboxed.responsive-img{src: "/images/fleet/auto01.webp", alt: 'Truck'}
      .row
        .col.l6.m6.s6.wow.fadeIn
          %img.materialboxed.responsive-img{src: "/images/fleet/auto004.webp", alt: 'Truck'}
        .col.l6.m6.s6.wow.fadeIn
          %img.materialboxed.responsive-img{src: "/images/fleet/auto003.webp", alt: 'Truck'}
      .row
        .col.l6.m6.s6.wow.fadeIn
          %img.materialboxed.responsive-img{src: "/images/fleet/auto-3.webp", alt: 'Truck'}
        .col.l6.m6.s6.wow.fadeIn
          %img.materialboxed.responsive-img{src: "/images/fleet/auto-5.webp", alt: 'Truck'}
      .row
        .col.l4.m4.s4.wow.fadeIn
          %img.materialboxed.responsive-img{src: "/images/fleet/auto-6.webp", alt: 'Truck'}
        .col.l4.m4.s4.wow.fadeIn
          %img.materialboxed.responsive-img{src: "/images/fleet/auto-7.webp", alt: 'Truck'}
        .col.l4.m4.s4.wow.fadeIn
          %img.materialboxed.responsive-img{src: "/images/fleet/auto-8.webp", alt: 'Truck'}
      .row
        .col.l6.m6.s6.wow.fadeIn
          %img.materialboxed.responsive-img{src: "/images/fleet/auto-1.webp", alt: 'Truck'}
        .col.l6.m6.s6.wow.fadeIn
          %img.materialboxed.responsive-img{src: "/images/fleet/auto-2.webp", alt: 'Truck'}
      .row
        .col.l3.m3.s3.wow.fadeIn
          %img.materialboxed.responsive-img{src: "/images/fleet/auto-9.webp", alt: 'Truck'}
        .col.l3.m3.s3.wow.fadeIn
          %img.materialboxed.responsive-img{src: "/images/fleet/auto-10.webp", alt: 'Truck'}
        .col.l3.m3.s3.wow.fadeIn
          %img.materialboxed.responsive-img{src: "/images/fleet/auto-11.webp", alt: 'Truck'}
        .col.l3.m3.s3.wow.fadeIn
          %img.materialboxed.responsive-img{src: "/images/fleet/auto-001.webp", alt: 'Truck'}
