#home.scrollspy
  .section.background-image-holder
    .swiper-container
      .holder-item-gallery.bg-size-cover
        %span.mask
        .container.center
          %img.logo.wow.fadeIn
          .motto.wow.fadeInUp Nasza flota

      {% haml parts/shape.haml %}
