%head
  %meta{:charset => "utf-8"}
  %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
  %meta{:content => "", :name => "description"}
  %meta{:content => "", :name => "author"}
  %title {% if page.title %}{% else %}{% endif %}
  %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "css/materialize.min.css", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "css/landing-page.css", :rel => "stylesheet", :type => "text/css"}
