%head
  %meta{:charset => "utf-8"}
  %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
  %meta{:content => "", :name => "description"}
  %meta{:content => "", :name => "author"}
  %title {{ site.page-title }}
  %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "/css/materialize.min.css", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "/css/main.css", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "/css/animate.css", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "/favicon.png", :rel => "shortcut icon", :type => "image/png"}
