#index-banner.parallax-container
  .section.no-pad-bot
    .row
      .col.s12.m6.right.info-box-middle
        .container.info-box
          %h1.header.center.red-text.text-darken-2
            weasels.co
          .row.center
            %h5.header.col.s12.light
          .row.center
            %a#download-button.btn-large.waves-effect.waves-light.red.darken-1
              weasels.co
  .parallax
    %img{src: "images/photo-bg1.jpg"}
.container
  .section
    .row
      .col.s12.m4
        .icon-block
          %h2.center.red-text.darken-4
            %i.material-icons flash_on
          %h5.center {{ site.text.content.block-1-title }}
          %p.light {{ site.text.content.block-1 }}
      .col.s12.m4
        .icon-block
          %h2.center.red-text.darken-4
            %i.material-icons group
          %h5.center {{ site.text.content.block-2-title }}
          %p.light {{ site.text.content.block-2 }}
      .col.s12.m4
        .icon-block
          %h2.center.red-text.darken-4
            %i.material-icons ring_volume
          %h5.center {{ site.text.content.block-3-title }}
          %p.light {{ site.text.content.block-3 }}
.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.center
        %h5.header.col.s12.light
          weasels.co
  .parallax
    %img{src: "images/photo-bg4.jpg"}
.container
  .section
    .row
      .col.s12.center#form
        %h3
          %i.mdi-action-input.brown-text
        %h4
          weasels.co
.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.center
        %h5.header.col.s12.light
  .parallax
    %img{src: "images/photo-bg2.jpg"}
