#home
#index-banner.parallax-container
  .section.no-pad-bot
  .parallax
    %img{src: "images/photo-bg3.jpg"}
    .valign-wrapper
      %img.valign.logo{src: "images/logo50_white.svg"}
  %section#arrow-down.demo
    %a.page-scroll{:href => "#about"}
      %span
/ .map
#about
  .container
    .section
      .row
        .col.l12.s12
          %h1.center O NAS
          %span.border
        .col.l12.s12
          %p.center.text-black {{ site.text.about.poczatki }}
        .col.l12.s12
          %p.center.text-black {{ site.text.about.uslugi }}
%section.parallax-container.valign-wrapper
  .parallax
    %img{src: "images/photo-bg1.jpg"}
  .row
    .col.s12.m6
      .icon-block
        %h2.center.red-text.text-darken-3
          %i.material-icons language
        %h5.center.white-text {{ site.text.content.block-1-title }}
        %p.center.light.white-text {{ site.text.content.block-1 }}
    .col.s12.m6
      .icon-block
        %h2.center.red-text.text-darken-3
          %i.material-icons supervisor_account
        %h5.center.white-text {{ site.text.content.block-2-title }}
        %p.center.light.white-text {{ site.text.content.block-2 }}
#contact
  .container.map-bottom
    .row
      .col.l12
        %h2.center.red-text.text-darken-3 Skontaktuj się z nami!
      .col.l12
        #contact.contact-form
          %form#contactForm{:action => "//formspree.io/transport@weasels.co", :method => "POST", "data-toggle" => "validator"}
            #msgSubmit.h3.text-center.hidden
            .input-field.col.m12.s12
              %label.h4{"data-validation-required-message" => "Proszę wprowadź swoje imię i nazwisko.", :for => "name"} Imię i nazwisko *
              %input#name.form-control.validate{"data-error" => "NEW ERROR MESSAGE", :required => "", :name => "name" ,:type => "text"}
            .input-field.col.m12.s12
              %label.h4{:for => "email"} Email *
              %input#email.form-control.validate{:required => "", :name => "_replyto", :type => "email"}
            .input-field.col.m12.s12
              %label.h4{:for => "message"} Wiadomość *
              %textarea#message.form-control.materialize-textarea.validate{:required => ""}
            %div
              %input{:name => "_subject", :type => "hidden", :value => "Nowa wiadomość z Weasels.co!"}
              %input{:name => "_gotcha", :style => "display:none", :type => "text"}
              %input{:name => "_next", :type => "hidden", :value => "//wesels.co"}
            %a#form-submit.waves-effect.waves-light.btn.red.darken-3.right{:type => "submit"} Wyślij wiadomość

/ .parallax-container.valign-wrapper
/   .parallax
/     %img{src: "images/photo-bg2.jpg"}

%footer.page-footer.red.darken-3
  .container
    .row
      .col.l6.s12
        %table.contact-table
          %tr
            %td
              %span.right
                %img{src: "images/trans.png"}
            %td
              %span 12345
          %tr
            %td
              %span.right
                %img{src: "images/timocom.png"}
            %td
              %span 12345
          %tr
            %td
              %span.right
                %i.material-icons email
            %td
              %span transport@weasels.co
          %tr
            %td
              %span.right
                %i.material-icons phone
            %td
              %span {{ site.text.contact.michal-tel }}
          %tr
            %td
              %span.right
                %i.material-icons business
            %td
              %span {{ site.text.contact.base-location }}
      .col.l6.s12
        %h5.white-text {{ site.text.footer.details }}
        %table.about-table
          %tr
            %td
              %span.right.white-text {{ site.text.footer.nip-t }}
            %td
              %span.white-text {{ site.text.footer.nip }}
          %tr
            %td
              %span.right.white-text {{ site.text.footer.regon-t }}
            %td
              %span.white-text {{ site.text.footer.regon }}
          %tr
            %td
              %span.right.white-text {{ site.text.footer.krs-t }}
            %td
              %span.white-text {{ site.text.footer.krs }}
          %tr
            %td
              %span.right.white-text {{ site.text.footer.spec-t }}
            %td
              %span.white-text {{ site.text.footer.spec }}
          %tr
            %td
              %span.right.white-text {{ site.text.footer.location-t }}
            %td
              %span.white-text {{ site.text.footer.location }}
  .footer-copyright
    .container
      Made by
      %a.blue-grey-text.text-lighten-3{:href => "https://lasica.co"} {{ site.text.content.made-by }}
      {{ site.text.content.copyright }}
