{% haml parts/home.haml %}
{% haml parts/about.haml %}
{% haml parts/services.haml %}
{% haml parts/gallery.haml %}
{% haml parts/partners.haml %}
{% haml parts/contact.haml %}
{% haml parts/map.haml %}
{% haml parts/footer.haml %}
