.container-fluid
  #btn.sandwich
    .menu-logo
    .menu-text MENU
    %span.top
    %span.middle
    %span.bottom
  #menu.menu
    .menu-list
      %ul
        %li
          %a.page-scroll{:href => "#home"} {{ site.text.navbar.links.about }}
        %li
          %a.page-scroll{:href => "#about"} {{ site.text.navbar.links.services }}
        %li
          %a.page-scroll{:href => "#contact"} {{ site.text.navbar.links.contact }}
