%nav.white{role: "navigation"}
  .nav-wrapper.container
    %a.red-text#logo-container.brand-logo{:href => "#"} {{ site.text.navbar.header }}
    %ul.right.hide-on-med-and-down
      %li
        %a.red-text.text-darken-2{:href => "#"} Navbar Link
