.container-fluid
  #btn.sandwich
    .menu-logo
    .menu-text MENU
    %span.top
    %span.middle
    %span.bottom
  #menu.menu
    .menu-list.menu-link
      %ul
        %li
          %a.page-scroll{"data-hover" => "{{ site.text.navbar.links.home }}", :href => "#home"} {{ site.text.navbar.links.home }}
        %li
          %a.page-scroll{"data-hover" => "{{ site.text.navbar.links.services }}", :href => "#services"} {{ site.text.navbar.links.services }}
        %li
          %a.page-scroll{"data-hover" => "{{ site.text.navbar.links.tabor }}", :href => "#tabor"} {{ site.text.navbar.links.tabor }}
        %li
          %a.page-scroll{"data-hover" => "{{ site.text.navbar.links.about }}", :href => "#about"} {{ site.text.navbar.links.about }}
        %li
          %a.page-scroll{"data-hover" => "{{ site.text.navbar.links.contact }}", :href => "/contact"} {{ site.text.navbar.links.contact }}
