%script{:src => "https://code.jquery.com/jquery-2.1.1.min.js"}
%script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"}
%script{:src => "/js/main.js"}
%script{:src => "/js/materialize.js"}
%script{:src => "/js/wow.min.js"}
%script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyC4j2deXH0aObAjySDyFuSYHsULo3M5ud8&callback=initMap"}
/ Global site tag (gtag.js) - Google Analytics
%script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=G-SB9CYZ58C4"}
:javascript
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SB9CYZ58C4');
