#about.section__about.scrollspy
  .container
    .col.l6.section__about.wow.fadeIn
      %h3.center.grey-text.text-darken-3.text-bold
        {% t site.about.title %}
      .section__about--text.grey-text.lighten-3.center
        {% t site.about.lead %}
      .section__about--button.center
        %a.btn.btn-large.waves-effect.waves-light.orange.grey-text.text-darken-3{href: "#services"} {% t site.about.button %}

    .row
      .col.l3.col.m6.s12.center.section__about--icons.wow.fadeIn
        %i.material-icons.section__about--icon favorite_border
        .block-content
          .section__about--icon-text.orange-text.text-darken-1 100%
          %h6 {% t site.about.icon-1 %}
      .col.l3.col.m6.s12.center.section__about--icons.wow.fadeIn
        %i.material-icons.section__about--icon local_shipping
        .block-content
          .section__about--icon-text.orange-text.text-darken-1 1800 +
          %h6 {% t site.about.icon-2 %}
      .col.l3.col.m6.s12.center.section__about--icons.wow.fadeIn
        %i.material-icons.section__about--icon update
        .block-content
          .section__about--icon-text.orange-text.text-darken-1 365x24
          %h6 {% t site.about.icon-3 %}
      .col.l3.col.m6.s12.center.section__about--icons.wow.fadeIn
        %i.material-icons.section__about--icon widgets
        .block-content
          .section__about--icon-text.orange-text.text-darken-1 36000 +
          %h6 {% t site.about.icon-4 %}
