#about.section__about.scrollspy
  .container
    .col.l6.section__about.wow.fadeIn
      %h3.center.grey-text.text-darken-3.text-bold
        Oddaj swój ładunek w dobre ręce!
      .section__about--text.grey-text.lighten-3.center
        {{ site.text.footer.about-1 }}
      .section__about--button.center
        %a.btn.btn-large.waves-effect.waves-light.orange{href: "#services"} Dowiedz się więcej!

    .row
      .col.l3.col.m6.s12.center.section__about--icons.wow.fadeIn
        %i.material-icons.section__about--icon favorite_border
        .block-content
          .section__about--icon-text.orange-text 100%
          %h6 Zadowolonych klientów
      .col.l3.col.m6.s12.center.section__about--icons.wow.fadeIn
        %i.material-icons.section__about--icon local_shipping
        .block-content
          .section__about--icon-text.orange-text 800 +
          %h6 Transportów rocznie
      .col.l3.col.m6.s12.center.section__about--icons.wow.fadeIn
        %i.material-icons.section__about--icon update
        .block-content
          .section__about--icon-text.orange-text 365x24
          %h6 Dyspozycyjność
      .col.l3.col.m6.s12.center.section__about--icons.wow.fadeIn
        %i.material-icons.section__about--icon widgets
        .block-content
          .section__about--icon-text.orange-text 3500 +
          %h6 Ton przewiezionych ładunków rocznie
