.section__footer--block.grey.darken-3
  %h3.center.grey-text.text-lighten-3.text-bold.section__gallery--title
    Zapraszamy do współpracy!

%footer#about.page-footer.grey.lighten-4.section__footer
  .container
    .row
      .col.l7.s12.about-company
        %h4.grey-text.text-darken-3.text-bold weasels sp. z o. o.
        %p.black-text.text-lighten-4 Nasza firma transportowa pragnie dostarczyć Państwu pełen zakres usług w zakresie drogowego transportu krajowego i międzynarodowego. Usługi transportowe, spedycja to nasza specjalność, a także pasja! w naszych działaniach jesteśmy niezawodni, ciesząc się uznaniem oraz zaufaniem Klientów w kraju, jak również za granicą.
        %p.black-text.text-lighten-4 Jesteśmy firmą ceniącą Klienta, dbamy o jakość, terminowość i rzetelność wykonywanych usług transportowych. Ufamy naszym kierowcom. Ich doświadczenie i kwalifikacje sprawiają, że kiedy oni codziennie wyruszają w trasę, my mamy pewność realizacji Państwa zamówienia Stawiamy na jakość świadczonych usług!
      .col.l5.s12
        %h4.grey-text.text-darken-3.text-bold dane firmy
        %table.about-table.black-text
          %tbody
            %tr
              %td
                %span.right NIP
              %td
                %span PL 766 199 52 94
            %tr
              %td
                %span.right Regon
              %td
                %span 365359540
            %tr
              %td
                %span.right KRS
              %td
                %span 0000635743
            %tr
              %td
                %span.right Działalność
              %td
                %span Transport Drogowy Towarów (PKD : 49.41.Z)
            %tr
              %td
                %span.right Siedziba
              %td
                %span Leśna 24a, 62-100 Wągrowiec, woj. wielkopolskie, Polska
  .footer-copyright
    .container.black-text
      2019 © Weasels. Wszelkie prawa zastrzeżone. Made by Michał Łasecki
