.section__footer--block.midnight
  %h3.center.grey-text.text-lighten-3.text-bold.section__gallery--title
    {% t site.footer.title %}

%footer.page-footer.white.section__footer
  .container
    .row
      .col.l7.s12.about-company
        %h4.grey-text.text-darken-3.text-bold.text-upcase {% t site.footer.table.name %}
        %p.black-text.text-lighten-4 {% t site.about.lead %}
        %p.black-text.text-lighten-4 {% t site.footer.about %}

      .col.l5.s12
        %h4.grey-text.text-darken-3.text-bold.text-upcase {% t site.footer.table.title %}
        %table.about-table.black-text
          %tbody
            %tr
              %td
                %span.right.text-bold NIP
              %td
                %span PL 766 199 52 94
            %tr
              %td
                %span.right.text-bold Regon
              %td
                %span 365359540
            %tr
              %td
                %span.right.text-bold KRS
              %td
                %span 0000635743
            %tr
              %td
                %span.right.text-bold {% t site.footer.table.activity %}
              %td
                %span {% t site.footer.table.type %} (PKD : 49.41.Z)
            %tr
              %td
                %span.right.text-bold {% t site.footer.table.address %}
              %td
                %span Brzozowa 13, 62-100 Wągrowiec, Polska
            %tr
              %td
                %span.right.text-bold {% t site.footer.table.base %}
              %td
                %span Leśna 24a, 62-100 Wągrowiec, Polska
  .footer-copyright
    .container.black-text
      {{ site.time | date: '%Y' }} © Weasels. Wszelkie prawa zastrzeżone. Made by Michał Łasecki
