#gallery
  .section__gallery.scrollspy
    .container
      .col.l6.wow.fadeIn
        %h3.center.grey-text.text-darken-3.text-bold.section__gallery--title
          {{ site.text.gallery.title }}
        .section__about--text.grey-text.lighten-3.center
          {{ site.text.about.uslugi }}

  .section__gallery__images
    .container.l12
      .row.valign-wrapper
        .col.l6.m12.s12.wow.fadeIn
          .section__about--text.grey-text.lighten-3.center
            {{ site.text.footer.about-1 }}
        .col.l6.m12.s12.wow.fadeIn
          %img.responsive-img.clip--path{src: "images/fleet/auto-2.webp"}
      .row.valign-wrapper
        .col.l6.m12.s12.wow.fadeIn
          %img.responsive-img.clip--path{src: "images/fleet/auto-5.webp"}
        .col.l6.m12.s12.wow.fadeIn
          .section__about--text.grey-text.lighten-3.center
            {{ site.text.footer.about-4 }}
            %br
            %br
            %a.btn.btn-large.btn-shadow.waves-effect.waves-light.grey.lighten-2.grey-text.text-darken-4.text-bold{href: "/gallery"} Nasza galeria
