#gallery
  .section__gallery.scrollspy
    .container
      .col.l6.wow.fadeIn
        %h3.center.grey-text.text-darken-3.text-bold.section__gallery--title
          {{ site.text.gallery.title }}
        .section__about--text.grey-text.lighten-3.center
          {{ site.text.about.uslugi }}

  .section__gallery__images
    .row
      .col.l4.m6.s12.wow.fadeIn
        %img.materialboxed.responsive-img{src: "images/uslugi-2/zwykla-2-2.jpg"}
      .col.l4.m6.s12.wow.fadeIn
        %img.materialboxed.responsive-img{src: "images/uslugi-2/zwykla-2-1.jpg"}
      .col.l4.m6.s12.wow.fadeIn
        %img.materialboxed.responsive-img{src: "images/uslugi-2/zwykla-2-5.jpg"}
      .col.l4.m6.s12.wow.fadeIn
        %img.materialboxed.responsive-img{src: "images/uslugi-2/zwykla-2-6.jpg"}
      .col.l4.m6.s12.wow.fadeIn
        %img.materialboxed.responsive-img{src: "images/uslugi-1/niska-5.jpg"}
      .col.l4.m6.s12.wow.fadeIn
        %img.materialboxed.responsive-img{src: "images/uslugi-1/niska-4.jpg"}
