#gallery
  .section__gallery.scrollspy
    .container
      .col.l6.wow.fadeIn
        %h3.center.orange-text.text-bold.section__gallery--title
          {% t site.gallery.title %}
        .section__about--text.grey-text.lighten-3.center
          {% t site.gallery.about-1 %}

  .section__gallery__images
    .container.l12
      .row.valign-wrapper
        .col.l6.m12.s12.wow.fadeIn
          %img.responsive-img.gall-1{src: "images/fleet/auto08.webp", alt: 'Truck'}
        .col.l6.m12.s12.wow.fadeIn
          .section__about--text.grey-text.lighten-3.center
            {% t site.gallery.about-2 %}
      .row.valign-wrapper
        .col.l6.m12.s12.wow.fadeIn
          %img.responsive-img.gall-2{src: "images/fleet/auto07.webp", alt: 'Truck'}
        .col.l6.m12.s12.wow.fadeIn
          .section__about--text.grey-text.lighten-3.center
            {% t site.gallery.about-3 %}
      .row.valign-wrapper
        .col.l6.m12.s12.wow.fadeIn
          %img.responsive-img.gall-3{src: "images/fleet/auto001.webp", alt: 'Truck'}
        .col.l6.m12.s12.wow.fadeIn
          .section__about--text.grey-text.lighten-3.center
            {% t site.gallery.about-4 %}
            %br
            %br
            %a.button.btn.waves-effect.waves-light.btn-large.white.darken-1.z-depth-3.black-text{href: "/gallery"} {% t site.gallery.btn %}
