#gallery
  .section__gallery.scrollspy
    .container
      .col.l6.wow.fadeIn
        %h3.center.grey-text.text-darken-3.text-bold.section__gallery--title
          {{ site.text.gallery.title }}
        .section__about--text.grey-text.lighten-3.center
          {{ site.text.about.uslugi }}

  .section__gallery__images
    .container.l12
      .row
        .col.l6.m6.s12.wow.fadeIn
          %img.materialboxed.responsive-img{src: "images/uslugi-2/zwykla-2-2.jpg"}
        .col.l6.m6.s12.wow.fadeIn
          %img.materialboxed.responsive-img{src: "images/uslugi-2/zwykla-2-6.jpg"}
      .row
        .col.l4.m4.s4.wow.fadeIn
          %img.materialboxed.responsive-img{src: "images/uslugi-2/zdjecie-nowe-1.jpg"}
        .col.l4.m4.s4.wow.fadeIn
          %img.materialboxed.responsive-img{src: "images/uslugi-2/zdjecie-nowe-2.jpg"}
        .col.l4.m4.s4.wow.fadeIn
          %img.materialboxed.responsive-img{src: "images/uslugi-2/zdjecie-nowe-3.jpg"}
      .row
        .col.l6.m6.s12.wow.fadeIn
          %img.materialboxed.responsive-img{src: "images/uslugi-2/auto-1.jpg"}
        .col.l6.m6.s12.wow.fadeIn
          %img.materialboxed.responsive-img{src: "images/uslugi-2/auto-2.jpg"}
