#home.scrollspy
  .section.background-image-holder
    .swiper-container
      .holder-item.bg-size-cover
        %span.mask
        .container.center
          %img.logo.wow.fadeIn{src: "images/logo-2.svg"}
          .motto.wow.fadeInUp Twój partner w transporcie

      {% haml parts/shape.haml %}
