#map.scrollspy
  .section__map
    .container-fluid
      .row.section__map--middle-align
        .col.l5.offset-l1
          %h3.center.grey-text.text-darken-3.text-bold.section__map--title
            Wskazówki dojazdu do naszej siedziby
          .section__about--text.grey-text.lighten-3.center
            Jesteśmy do Waszej dyspozycji pod tym adresem od poniedziałku do piątku, od godziny 7:00 do godziny 17:00
        .col.l6.s11.offset-s1.section__map--no-padding
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "600", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12153.064529759231!2d17.1821413577895!3d52.8138307025728!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47047996c446205d%3A0xe3a035b25c30c06!2sWeasels+Sp.+z+o.o.!5e0!3m2!1sen!2suk!4v1565533672622!5m2!1sen!2suk", :style => "border:0", :width => "100%"}
