%nav.navbar.navbar-default.hide-on-med-and-down
  .nav-wrapper
    %img.brand-logo.left{src: "/images/logo-3.svg"}
    %ul
      {% if page.collection == "gallery" %}
      %li.content__item
        %a.link.link--elara{:href => "/"}
          %span Strona główna
      {% else %}
      %li.content__item
        %a.link.link--elara{href: "#about"} O nas
      %li.content__item
        %a.link.link--elara{href: "#services"} Usługi
      %li.content__item
        %a.link.link--elara{href: "/gallery"} Galeria
      %li.content__item
        %a.link.link--elara{href: "#contact"} Kontakt
      %li.content__item
        %a.link.link--elara{href: "#map"} Jak dojechać
      {% endif %}

.side-nav.hide-on-large-only
  %a.sidenav-trigger.btn.waves-effect.waves-orange.white.black-text{"data-target" => "slide-out", href: "#"} menu

#slide-out.sidenav
  %ul
    %li
      %a.sidenav-close{:href => "#!"}
        %i.material-icons close
    {% if page.collection == "gallery" %}
    %li
      %a{href: "/"} Wróc na stronę główną
    {% else %}
    %li
      %a{href: "#about"} O nas
    %li
      %a{href: "#services"} Usługi
    %li
      %a{href: "/gallery"} Galeria
    %li
      %a{href: "#contact"} Kontakt
    %li
      %a{href: "#map"} Jak dojechać
    {% endif %}
  %img.sidenav-logo{:src => "/images/logo-male.svg"}
  .footer-copyright
    .container.black-text
      2022 © Weasels. Wszelkie prawa zastrzeżone. Made by
    .text-bold Michał Łasecki
