.section__partners.grey.lighten-2
  %h3.center.grey-text.text-darken-3.center.text-bold.shadow-text.section__gallery--title
    Nasi partnerzy
  .carousel.carousel-slider
    %a.carousel-item{:href => "#one!"}
      .row.center-align
        .col.l4.m4.s4.wow.fadeIn
          %img.responsive-img{src: "/images/partners/logo-1.webp"}
        .col.l4.m4.s4.wow.fadeIn
          %img.responsive-img{src: "/images/partners/logo-2.webp"}
        .col.l4.m4.s4.wow.fadeIn
          %img.responsive-img{src: "/images/partners/logo-3.webp"}
    %a.carousel-item{:href => "#two!"}
      .row.center-align
        .col.l6.m6.s6.wow.fadeIn
          %img.responsive-img{src: "/images/partners/logo-4.webp"}
        .col.l6.m6.s6.wow.fadeIn
          %img.responsive-img{src: "/images/partners/logo-5.webp"}
