.shape-contact{"data-shape-fill" => "sct-color-1", "data-shape-position" => "top", :style => "height: 350px;"}
  %svg.shape-item{:fill => "", :preserveaspectratio => "none", :viewbox => "0 0 3840 679", :xmlns => "http://www.w3.org/2000/svg"}
    %path{:d => "M0 0.000335703L2.89347e-05 330.975L1476.71 330.975C1523.65 330.975 1564.58 360.065 1597.82 393.216C1687.27 482.428 1834.37 483.419 1923.83 393.216L1928.54 388.555H1929.34L2134.91 185.215C2181.63 139.618 2240.27 117.809 2297.92 117.809C2357.55 117.809 2416.2 139.618 2460.92 184.224C2515.83 237.788 2537.76 312.436 2526.74 382.849C2503.26 461.094 2522.39 549.571 2584.13 611.139C2673.58 700.351 2820.69 701.342 2910.14 611.139L3067.29 455.259C3110.37 412.531 3168.59 388.555 3229.26 388.555L3840 388.555L3840 0L0 0.000335703Z"}
